{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About</h1>
{#          <span class="subheading">This is what I do.</span>#}
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
            <b>Me</b><br>
            I’m a junior backend developer with a strong interest in databases, server-side logic, and application architecture.<br>
            I enjoy building systems behind the scenes — designing data models, writing APIs, and connecting different parts of an application into a working whole.<br><br>
            <b>Project</b><br>
            This blog project was built as a hands-on way to practice backend development using Flask and SQL. My main focus here was not visual design, but logic, data flow, and structure.<br>
            It reflects how I approach learning: by building real applications and improving them step by step.<br><br>
            <b>Career</b><br>
            I’m currently exploring backend-focused roles, including junior positions, internships, and remote opportunities. I’m especially interested in working with databases, APIs, and scalable backend systems, and I’m always open to learning new tools and technologies.
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
